#hw{
    color: yellow;
    background-color: mediumturquoise;
    font-size: 200px;
    font-family: cursive;
    font-style: oblique;
    
}

body{
    margin: 50px;
    padding: 50px;
    background-color: tomato;
}